// Theme variables.

$navbar-brand-image-height: auto !default;
$navbar-brand-image-height-lg: auto !default;
$navbar-brand-image-width: 150px !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

//$navbar-brand-site-title-text-transform: uppercase !default;
//$navbar-brand-site-title-font-size: 1.5rem !default;
//$navbar-brand-site-title-font-weight: bold !default;
//$navbar-brand-site-title-letter-spacing: 2px !default;
//$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;
//
$footer-padding: 2rem 0 !default;
//
//$nav-tabs-link-active-bg-sm: #dee2e6 !default;
//
//$local-tasks-primary-margin: 1rem 0 !default;
//$local-tasks-secondary-margin: 0 0 1rem 0 !default;

//$table-striped-bg: #f9f9f9 !default;
$primary:       #F56600;

$font-family-base: Lato;
$navbar-dark-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0,0,256,256'><g fill='#ffffff' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'><g transform='scale(5.12,5.12)'><path d='M21,3c-9.39844,0 -17,7.60156 -17,17c0,9.39844 7.60156,17 17,17c3.35547,0 6.46094,-0.98437 9.09375,-2.65625l12.28125,12.28125l4.25,-4.25l-12.125,-12.09375c2.17969,-2.85937 3.5,-6.40234 3.5,-10.28125c0,-9.39844 -7.60156,-17 -17,-17zM21,7c7.19922,0 13,5.80078 13,13c0,7.19922 -5.80078,13 -13,13c-7.19922,0 -13,-5.80078 -13,-13c0,-7.19922 5.80078,-13 13,-13z'></path></g></g></svg>");
$navbar-light-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 50 50'><path d='M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z'></path></svg>");
